* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald',
        sans-serif;
}

.darktheme {
    background-color: black;
    color: white;
}

nav {
    text-align: center;
    line-height: 30vh;
    text-transform: uppercase;
    font-size: 42px;
}

.select {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.select h3 {
    font-size: 32px;
}

.select i {
    width: 200px;
    margin: 100px 40px;
    font-size: 150px;
}

button {
    display: block;
    padding: 7px 25px;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
    margin: 10px auto;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    border: 2px solid white;
    color: white
}

.panel-left,
.panel-right {
    display: inline-block;
    width: 48%;
    overflow: hidden;
    margin: 40px auto 80px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

footer {
    text-align: center;
    line-height: 7vh;
    font-size: 22px;
}